<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Friend</title>
</head>

<body>
    <h1>Friend: {friend_id}</h1> <!-- here we are using the variable all_friends that we passed from the route and we are looping through it to display all the friends -->
    {% for one_friend in friend %}
        <p>First Name: {{one_friend.first_name}}</p>
        <p>Last Name: {{one_friend.last_name}}</p>
        <p>Occupation: {{one_friend.occupation}}</p>
        <hr>
    {% endfor %}
</body>
</html>