<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Ninja</title>
</head>

<body>
    <form action="/create_ninja" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" name="fname">
        <br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="lname">
        <br>
        <label for="age">Age:</label>
        <input type="number" name="age">
        <br>
        <label for="dojo_id">Dojo:</label>
        <select name="dojo_id">
            {% for dojo in dojos %}
                <option value= "{{ dojo.id }}">{{ dojo.name }}</option> <!-- dojo.id is the value that will be passed to the server, its in quotes because its a string -->
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Create Ninja">
</body>
</html>